.gradient-title {
    background: linear-gradient(135deg, #FF0080, #8400ff);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    /* Ajustez la taille selon vos besoins */
    font-weight:bolder;
}