@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.gradient-title {
    background: linear-gradient(135deg, #FF0080, #8400ff);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    /* Ajustez la taille selon vos besoins */
    font-weight: bolder;
}
.hover\:logo-purple:hover .logo {
    color: #6b46c1; /* Couleur violette */
}